/*Fuente por defecto*/
body {
    font-family: "Roboto", sans-serif;
  }
  
  
  /*Estilos de la barra de navegación*/
  .navbar-principal {
    background: #373b44;
    background: -webkit-linear-gradient(to right, #012f4d, #012f4d);
    background: linear-gradient(to right, #012f4d, #012f4d);
  }
  .nav-link-T {
    margin: 7px;
    font-size: 17px;
    color: white;
    text-decoration: none;
  }
  .logo {
    width: 250px;
  }

/*Boton*/
.navbar-toggler{
    background-color: white !important;
    color: rgb(48, 66, 167) !important;
}
