@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


*{
    font-family: 'Roboto', sans-serif;
}


.header__brand{
    display: flex;
    background-color: #002E4C;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.header__brand a img{
    width: 200px;
}

/* navbar */


.bg-personalizado{
    background-color:rgba(238, 234, 234, 0.541);
}

.collapse a{
    margin: 0px 150px;
}

.collapse ul li a{
    color: rgb(54, 53, 53);
    font-size: 17px;
}

.collapse ul li a:hover{
    color: #002E4C;
    font-weight: 300;
}

.carousel-item{
    height: 10px;
    width: 100%;
}

.color_1{
    height: 200px;
    width: 100%;
    background-color: #CB8802;
}

.color_2{
    height: 200px;
    width: 100%;
    background-color: #E09500;
}

.color_3{
    height: 200px;
    width: 100%;
    background-color: #FFAA00;
}


